[workspace]
authors = ["Rohit Goswami <rgoswami@ieee.org>"]
channels = ["conda-forge"]
description = "RPC based core for potential energy surface functionality."
name = "rgpot"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[feature.cigen.tasks]
gen-gha = { cmd = "nickel export --format yaml ci/gha/workflow.ncl -o .github/workflows/build.yml" }

[environments]
rpctest = {features = ["rpc", "itests"]}
cigen = {features = ["cigen"]}
devbld = { features = ["rpc", "cache"] }
docs = { features = ["docs"]}

[feature.cache.dependencies]
rocksdb = ">=10.9.1,<11"
xxhash = ">=0.8.3,<0.9"

[feature.rpc.dependencies]
capnproto = ">=1.0.2,<2"

[feature.cigen.dependencies]
nickel = ">=9.9.9,<10"

[feature.itests.dependencies]
pycapnp = ">=2.0.0,<3"
ipython = ">=8.28.0,<9"
pip = ">=24.2,<25"
numpy = ">=2.4.1,<3"

[feature.docs]
# doxyrest only works on linux
platforms = ["linux-64"]

[feature.docs.dependencies]
doxygen = ">=1.13.2,<2"
sphinx = ">=8.2.3,<9"
doxyrest = ">=2.1.2,<3"

[feature.docs.pypi-dependencies]
sphinx-sitemap = ">=2.9.0, <3"
shibuya = ">=2026.1.9, <2027"

[dependencies]
compilers = ">=1.8.0,<2"
meson = ">=1.5.2,<2"
cmake = ">=3.30.4,<4"
pkgconfig = ">=1.5.5,<2"
openblas = ">=0.3.28,<0.4"
xtensor = ">=0.27.1,<0.28"
eigen = ">=3.4.0,<4"
fmt = ">=11.0.2,<12"
spdlog = ">=1.14.1,<2"
catch2 = ">=3.7.1,<4"
cppcheck = ">=2.15.0,<3"
cpplint = ">=1.6.0,<2"
fortran-compiler = ">=1.8.0,<2"
clang-format = ">=19.1.0,<20"
pkgconf = ">=2.5.1,<3"
zlib = ">=1.3.1,<2"
xtensor-blas = ">=0.23.0,<0.24"
ccache = ">=4.12.2,<5"
