name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install environment
      uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: 'v0.62.1'
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    - name: Run precommit
      shell: pixi run bash -e {0}
      run: |
        pipx run prek run -a
    - name: Audit for large files
      uses: HaoZeke/large-file-auditor@v0.1.0
      with:
        file-size-threshold: "1M"
